{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".ts", ".tsx"],
        "alias": {
          "@assets": "./assets",
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@screens": "./src/components/screens",
          "@context": "./src/context",
          "@store": "./store",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
