{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".ts", ".tsx"],
        "alias": {
          "@assets": "./assets",
          "@pages": "./pages",
          "@components": "./components",
          "@store": "./store",
          "@containers": "./components/containers",
          "@utils": "./utils"
        }
      }
    ]
  ]
}
